<div class="uk-card uk-card-default">
    <div class="uk-card-header">
        <check if="{{ @tplUserData.is_admin == '1' }}">
            <span class="uk-label uk-label-primary">ADMIN</span>
        </check>
        <strong>Last edit:</strong> {{ date('d.m.y H:i:s', strtotime(@tplUserData.updated_at)) }}
    </div>
    <div class="uk-card-body">
        <form class="uk-form-stacked" method="post"> {* action omitted in order to self-post *}

            <input type="hidden" name="csrf" value="{{ @tplCSRF }}">


            <check if="{{ @tplUserData.is_admin == '1' }}">
                <true>
                    <div class="uk-alert-warning uk-margin-remove-top" uk-alert>
                        <p>NOTE: As an admin you can change further user details using the <a href="{{@BASE}}/users">Manage Users</a> feature:
                            <a href="{{@BASE}}/users/edit/{{ @tplUserData.id }}">Edit your user account</a>
                        </p>
                    </div>
                </true>
                <false>
                    <div class="uk-alert-warning uk-margin-remove-top" uk-alert>
                        <p>NOTE: Username can only be changed by admin user</p>
                    </div>
                </false>
            </check>



            <div class="uk-grid uk-grid-small" data-uk-grid>


                <div class="uk-width-1-2@m">
                    <label class="uk-form-label" for="userMail">
                        E-Mail-Adresse*
                    </label>
                    <div class="uk-form-controls">
                        <input name="userMail" id="userMail" class="uk-input" type="email" placeholder="mail@example.com" value="{{ @tplUserData.email }}" required>
                    </div>
                </div>

                <div class="uk-width-1-2@m">
                    <label class="uk-form-label" for="userPassword">
                        Password {{ @tplUserData.id == 0 ? '*' : '' }}
                        <check if="{{ @tplUserData.id == 0 }}">
                            <true>
                                <span class="uk-text-small uk-text-muted">(min. 8 characters)</span>
                            </true>
                            <false>
                                <span class="uk-text-small uk-text-muted">(min. 8 characters, leave empty to keep current password)</span>
                            </false>
                        </check>
                    </label>
                    <div class="uk-form-controls">
                        <input name="userPassword" id="userPassword" class="uk-input" type="password"  value="" {{ @tplUserData.id == 0 ? 'required' : '' }}>
                    </div>
                </div>






            </div>
            <!-- /.uk-grid -->

            <div class="uk-margin-top uk-flex uk-flex-between">
                <div>
                    <a href="{{ @BASE }}/" class="uk-button uk-button-default">
                        <span class="uk-margin-small-right" data-uk-icon="icon: arrow-left"></span>
                        Back
                    </a>
                </div>
                <div>
                    <button type="submit" class="uk-button uk-button-danger">
                        <span class="uk-margin-small-right" data-uk-icon="icon: check"></span>
                        Save
                    </button>
                </div>
            </div>





        </form>
    </div>
</div>